@model BookModel

<div class="card mb-4 shadow-sm" style="width: 18rem;">
    <img src="@(string.IsNullOrEmpty(Model.CoverImageUrl) ? "/images/book_logo.png" : @Model.CoverImageUrl)" class="bd-placeholder-img card-img-top img-thumbnail" alt="..." width="100%" height="225">
    <div class="card-body">
        <h5 class="card-title">@(string.IsNullOrEmpty(Model.Title)? "": @Model.Title)</h5>
        <p class="card-text">@Model.Description</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="/book/getbook/@Model.Id" class="btn btn-outline-secondary btn-sm">View Details</a>

                    <!--To Pass multiple parameters using asp-route attribute-->
                    <a asp-controller="Book" asp-action="getbook" asp-route-id="@Model.Id" asp-route-nameOfBook="@Model.Title"
                    class="btn btn-outline-secondary btn-sm">View Details</a>
                    To Use the Route name mentioned in controller Actionmethod
                    <a asp-route="BookDetailsRoute" asp-route-id="@Model.Id" asp-route-nameOfBook="@Model.Title"
                   class="btn btn-outline-secondary btn-sm">View Details</a>
            </div>
            <small class="text-muted">@Model.Author</small>
        </div>
    </div>
</div>
